#heading {
	text-align: center;
}

.question-items {
  height: 270px;
  margin: 10px;
}

#submit-answers, #result-message {
	margin-top: 10px;
	width: 50%;
	margin-left: 25%;
}

#result-div {
	display: none;
}
